.mosaic {
  animation: animateMosaic var(--pageLoadAnimation);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 5px;
}

@keyframes animateMosaic {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.pixelated {
  image-rendering: pixelated;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 10;
}

.pixelated:hover {
  display: none;
}

.regular {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: hidden;
  z-index: 1;
}

.regular:hover {
  transform: scale(3.4) translateX(1.1rem) translateY(1.1rem);
  transition: transform 0.45s;
  z-index: 100;
}

@media screen and (max-width: 768px) {
  .mosaic {
    text-align: center;
  }
}
